//
//  Project.Base.xcconfig
//  Carnival
//
//  Created by Yuki Okudera on 2022/02/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 13.0
INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_UIMainStoryboardFile = Main
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
SWIFT_EMIT_LOC_STRINGS = YES
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = Carnival/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = jp.yuoku.Carnival
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = B8PR34D6DP
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SWIFT_VERSION = 5.0
